@using InvControl.Client.Provider
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<button @onclick="HandleLogout">Cerrar Sesión</button>

@code {
    private async Task HandleLogout()
    {
        var authenticationState = (CookieAuthenticationStateProvider)AuthenticationStateProvider;
        await authenticationState.LogOut();
        authenticationState.NotifyAuthenticationStateChanged();
        Navigation.NavigateTo("/login");
    }
}
